In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('business.csv')

In [3]:
df.head()

,attributes.Ambience.divey,attributes.RestaurantsDelivery,attributes.DogsAllowed,postal_code,hours.Thursday,attributes.HairSpecializesIn.coloring,attributes.BestNights.sunday,attributes.BYOB,attributes.AgesAllowed,attributes.Music.video,...,attributes.Caters,attributes.RestaurantsReservations,attributes.DietaryRestrictions.dairy-free,attributes.DietaryRestrictions.vegan,attributes.Ambience.romantic,attributes.Music.jukebox,attributes.Ambience.upscale,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,NaN,NaN,NaN,44143,10:00-21:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
1,False,True,NaN,28215,10:00-22:00,NaN,NaN,NaN,NaN,NaN,...,NaN,False,NaN,NaN,False,NaN,False,True,NaN,False
2,NaN,NaN,NaN,M4K 1N7,10:00-19:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
3,NaN,NaN,NaN,85258,9:00-17:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,False,NaN,85016,NaN,NaN,NaN,NaN,NaN,NaN,...,True,False,NaN,NaN,False,NaN,False,True,True,False

In [4]:
df.shape

(156639, 101)

In [5]:
df2=pd.read_csv('review.csv')

In [6]:
df2.shape

(4736897, 9)

In [7]:
df2.head()

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
0,0,cjpdDjZyprfyDG3RlkVG3w,VfBHSwC5Vz_pbFluy07i9Q,My girlfriend and I stayed here for 3 nights a...,uYHaNptLzDLoV_JZ_MuzUA,5,2016-07-12,0,0
1,0,bjTcT8Ty4cJZhEOEo01FGA,3zRpneRKDsOPq92tq7ybAA,If you need an inexpensive place to stay for a...,uYHaNptLzDLoV_JZ_MuzUA,3,2016-10-02,0,0
2,0,AXgRULmWcME7J6Ix3I--ww,ne5WhI1jUFOcRn-b-gAzHA,Mittlerweile gibt es in Edinburgh zwei Ableger...,uYHaNptLzDLoV_JZ_MuzUA,3,2015-09-17,0,0
3,0,oU2SSOmsp_A8JYI7Z2JJ5w,llmdwOgDReucVoWEry61Lw,Location is everything and this hotel has it! ...,uYHaNptLzDLoV_JZ_MuzUA,4,2016-08-21,0,0
4,0,0xtbPEna2Kei11vsU-U2Mw,DuffS87NaSMDmIfluvT83g,gute lage im stadtzentrum. shoppingmeile und s...,uYHaNptLzDLoV_JZ_MuzUA,5,2013-11-20,0,0

In [10]:
five_star=df2[df2['stars']==5]

In [11]:
five_star.shape

(1988003, 9)

In [12]:
restaurants = df[df['categories'].str.contains('Restaurants')]

In [13]:
restaurants.shape

(51613, 101)

In [14]:
restaurants_clean=restaurants[['business_id','name']]

In [15]:
restaurants_clean.head()

               business_id                                name
1   mLwM-h2YhXl2NCgdS84_Bw  South Florida Style Chicken & Ribs
4   duHFBe87uNSXImQmvBh87Q                             Blimpie
14  SDMRxmcKPNt1AHPBKqO64Q                          Applebee's
15  iFEiMJoEqyB9O8OUNSdLzA                        China Garden
21  HmI9nhgOkrXlUr6KZGZZew                             Rocky's

In [16]:
restaurants_clean.shape

(51613, 2)

In [17]:
combo=pd.merge(restaurants_clean, five_star, on='business_id')

In [18]:
combo.shape

(1083567, 10)

In [19]:
combo.head()

,business_id,name,funny,user_id,review_id,text,stars,date,useful,cool
0,mLwM-h2YhXl2NCgdS84_Bw,South Florida Style Chicken & Ribs,0,sV0dpo6OJJcqGqO-1aJVrQ,xrcatAnMw-li3EpnrkxOSw,Amazing food!! I can't believe it almost taste...,5,2016-08-14,0,0
1,mLwM-h2YhXl2NCgdS84_Bw,South Florida Style Chicken & Ribs,0,Uj3eVaJZt0xcLtAg7tqYCQ,6NneO1alIF88iArTL85Ddw,"Great soul food period , it's get no better, c...",5,2016-05-13,0,1
2,duHFBe87uNSXImQmvBh87Q,Blimpie,0,Y0QwHP4oxQ4jtk8R2PFq8g,FSUVv_zALancIFlqYcMGYA,My favorite stop. It is what you would expect ...,5,2015-07-17,0,0
3,duHFBe87uNSXImQmvBh87Q,Blimpie,0,F_g_b3vOcP80Q1hMWdqbxQ,GbOPClhAFxRIS8XxySV36w,This place is the best. They will make a sub t...,5,2015-07-04,0,1
4,duHFBe87uNSXImQmvBh87Q,Blimpie,1,4W-ZU-E82HWWUNNk9tfN6g,jxYQ4LjL10rP2o93PWoKIg,I really like their bread. Always soft inside...,5,2015-04-08,3,2

In [20]:
rnn_fivestar_reviews_only=combo[['text']]

In [21]:
rnn_fivestar_reviews_only.head()

                                                text
0  Amazing food!! I can't believe it almost taste...
1  Great soul food period , it's get no better, c...
2  My favorite stop. It is what you would expect ...
3  This place is the best. They will make a sub t...
4  I really like their bread.  Always soft inside...

In [22]:
rnn_fivestar_reviews_only=rnn_fivestar_reviews_only.replace({r'\n+': ''}, regex=True)

In [24]:
final=rnn_fivestar_reviews_only.drop_duplicates()

In [26]:
final['text'][98831]

'Such friendly staff. Clean dining area, the food is always fresh and amazing. Arthur and the manager Jim were such a pleasure to talk to while my order was being made. I was also able to purchase a "taco life" T-shirt! I\'ve wanted for ever. Love this place'

In [27]:
#Add start and end of review with <SOR> and <EOR> to each review
final['text']='<SOR>' + final['text'].astype(str)+'<EOR>'

/Users/andrewmanser/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [28]:
final.head()

                                                text
0  <SOR>Amazing food!! I can't believe it almost ...
1  <SOR>Great soul food period , it's get no bett...
2  <SOR>My favorite stop. It is what you would ex...
3  <SOR>This place is the best. They will make a ...
4  <SOR>I really like their bread.  Always soft i...

In [29]:
final.loc[3][0]

"<SOR>This place is the best. They will make a sub to your liking and always, always exhibit a good vibe and attitude. Yeah it's just a sandwich shop but chit like that matters if you're ever going to have repeat business.<EOR>"

In [346]:
#create a csv of this for future use
filename='five_star_restaurants_reviews_only.csv'
final.to_csv(filename, index=False, encoding='utf-8')

In [367]:
#full text file of all reviews to train on
filename='five_star_text.txt'
final.to_csv(filename, header=None, index=None, sep=' ')

In [34]:
len(final)

1083151